<div class="cocktail_card_detail">
  <div class="cocktail_img">
    <%= cl_image_tag @cocktail.photo.key, crop: :fill %>
  </div>
  <div class="second_part">
    <div class="second_part_flex">
      <div class="first_element">
        <div class="description">
        <h1><%= @cocktail.name %></h1>
          <p><%= @cocktail.instructions %></p>
          <div class="btn-div">
            <p class="btn btn-outline-danger my-2 my-sm-0"><%= link_to cocktail_path(@cocktail.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </p>
          </div>
        </div>

        <div class="cocktail_ingrediants">
          <h4>Ingredients</h4>
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li>
                <%= dose.ingredient.name %> : <%= dose.description %>
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, cocktail_dose_path(@cocktail.id, dose), method: :delete, data: { confirm: "Are you sure?" } %>
              </li>
            <% end %>
          </ul>
          <button type="button" class="btn btn-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter">
            <p><i class="fas fa-plus-square"></i></p>
          </button>

          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">New dose</h5>
                  <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <%= render "doses/form" %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="second_element">
        <h4>Add a Review !</h4>
        <%= render "reviews/form" %>
      </div>

      </div>

    <div class="review">
      <h4>Reviews</h4>
      <% if @cocktail.reviews.empty? %>
        <p>There is no reviews for this cocktails for the moment.</p>
        <p>Be the first :</p>

      <% else %>
        <div class="list-group">
        <% @cocktail.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
